.expense-date {
  display: flex;
  flex-direction: column;
  height: 2rem;
  background-color: #811616;
  color: white;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  align-items: left;
  justify-content: center;
}

.expense-date__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  flex-direction: column;
}
