.new-expense {
  background: rgb(31, 31, 31);
  padding: 1rem;
  width: 90vw;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  opacity: 0.95;
  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);  */
}

.new-expense button {
  font: inherit;
  font-size: 21px;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #f1f1f1;
  background-color: #721010;
  color: white;
  border-radius: 12px;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #b83434;
  border-color: #b83434;
}

.new-expense button.alternative {
  color: #721010;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #b83434;
}

@media only screen and (max-width: 430px) {
  .new-expense {
    position: fixed;
    bottom: 0;
    right: 5vw;
    text-align: center;
  }
}
